.modal-footer.custom{
    border: none;
}
.create_button{
    height: 30px;
    margin:17px 0px 0px 10px;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.update_button{
    font-size:20px;
    cursor: pointer;
    color:darkgreen;
}
.delete_button{
    font-size:20px;
    cursor: pointer;
    margin-left: 5px;
    color:red;
}
.fancy_popup_custom{
    width: 100%;
    max-width: 660px;
}
.filter_button{
    margin-top:31px;
}
